@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Reenie Beanie";
}

a {
  text-decoration: none; /* no underline */
}

.about-us {
  position: absolute;
  left: 0px;
  top: 0px;
  grid-row: 1;
  visibility: hidden;
  overflow: hidden;
  display: grid;
  opacity: 0;
  height: 0px;
  width: 0px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  grid-template-rows: 5% 5% 90%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.about-us-presskit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.about-us-presskit-icon {
  height: 60px;
}

.about-us__logo-single {
  position: relative;
  align-self: baseline;
  justify-self: center;
}

.about-us__top-nav {
  margin-left: 30px;
  position: relative;
  color: rgb(99, 99, 99);
  display: flex;
  align-items: center;

  font-size: 1.8rem;
}

.about-us__main-grid {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-us-main-grid__single-cover {
  width: 90%;
}

.about-us-main-grid__stream {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 100px;
}

.main-grid__image {
  width: 60%;
  filter: drop-shadow(5px 5px 20px #353535);
  justify-self: center;
}

.about-us-main-grid__text {
  overflow-x: scroll;
  height: 300px;
  justify-self: center;
  height: 70%;
  font-size: 2.6rem;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 20px #353535;
  width: 80%;
  overflow-x: hidden;
  font-weight: 200;
  text-align: end;
}

.about-us-main-grid__nav-text {
  position: relative;
  justify-self: center;
  font-family: "PT Serif";
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 5rem;
  color: white;
  text-shadow: 5px 5px 40px #353535;
}

.about-us-top-nav__icon {
  width: 20px;
}

.about-us-top-nav__text {
  margin-left: 10px;
}

.about-us-top-nav__text:hover {
  color: white;
}

@media (max-width: 300px) {
  .about-us {
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;
    overflow-y: scroll;
    height: 90vh;
    padding: 20px;
  }

  .about-us__top-nav {
    position: relative;
    top: -20px;
    left: -20px;
  }

  .about-us-main-grid__nav-text {
    writing-mode: horizontal-tb;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    margin-top: 20px;
  }

  .about-us__main-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }
  .main-grid__image {
    width: 50% !important;
    align-self: center;
  }

  .about-us-presskit {
    padding-bottom: 100px;
  }

  .about-us-main-grid__text {
    height: 100%;
    overflow: visible;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .about-us {
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;
    overflow-y: scroll;
    height: 90vh;
  }

  .about-us-presskit {
    padding-bottom: 100px;
  }

  .about-us__top-nav {
    position: relative;
    top: -20px;
    left: -20px;
  }

  .main-grid__image {
    width: 50% !important;
    align-self: center;
  }

  .about-us-main-grid__nav-text {
    writing-mode: horizontal-tb;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    margin-top: 20px;
  }

  .about-us__main-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }

  .about-us-main-grid__text {
    height: 100%;
    overflow: visible;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .about-us {
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;
    overflow-y: scroll;
    height: 90vh;
  }
  .about-us-presskit {
    padding-bottom: 100px;
  }
  .about-us__top-nav {
    position: relative;
    top: -20px;
    left: -20px;
  }

  .main-grid__image {
    width: 40% !important;
    align-self: center;
  }

  .about-us-main-grid__nav-text {
    writing-mode: horizontal-tb;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    margin-top: 20px;
  }

  .about-us__main-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }

  .about-us-main-grid__text {
    height: 100%;
    overflow: visible;
    text-align: center;
  }
}
