.bottom {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  background-color: white;
  overflow: hidden;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: right;
}

.waves {
  width: 120vw;
  position: relative;
  top: -10px;
  filter: drop-shadow(5px 10px 10px grey);
}

.comingSoonGrid {
  display: grid;
  text-align: center;
  font-family: "coding_light";
  color: black;
  font-size: 20px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  position: relative;
  top: -200px;
}

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
