.impressum {
  display: grid;
  grid-row: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  opacity: 0;
  overflow-y: visible;
  overflow-x: hidden;
  font-family: roboto;
  padding: 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
