@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100&display=swap");
body {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none; /* no underline */
}

.landing-grid {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.landing-grid__title-card {
  display: grid;
  height: 100vh;
  color: white;
  grid-template-rows: 90% 10%;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.title-card__footer {
  justify-self: center;
  font-family: Roboto;
  font-size: 1rem;
}

.landing-grid__nav1 {
  display: grid;
  visibility: visible;
  border-top-width: 20px;
  border-top-style: solid;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/snow.jpg");
  border-top-color: black;
  cursor: pointer;
  width: 100%;
  filter: grayscale(100%);
  filter: blur(0px);
  background-size: 200vh;
  background-position-x: -300px;
  justify-content: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.landing-grid__nav2 {
  display: grid;
  visibility: visible;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/sky.jpg");
  border-top-width: 20px;
  border-left: 5px;
  border-left-style: solid;
  border-top-style: solid;
  border-left-color: black;
  border-top-color: black;
  background-size: 100vh;
  background-position-x: -300px;
  cursor: pointer;
  justify-content: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.landing-grid__nav3 {
  display: grid;
  visibility: visible;
  background-color: violet;
  border-top-width: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/pines.jpg");
  border-left: 5px;
  border-left-style: solid;
  border-top-style: solid;
  border-left-color: black;
  border-top-color: black;
  background-size: 200vh;
  background-position-x: -300px;
  cursor: pointer;
  justify-content: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav-text {
  position: relative;
  visibility: visible;
  opacity: 1;
  margin-top: 30px;
  justify-self: center;
  font-family: "PT Serif";
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 5rem;
  color: white;
}

.landing-grid__nav1:hover {
  border-top-width: 0px !important;
}
.landing-grid__nav2:hover {
  border-top-width: 0px !important;
}

.landing-grid__nav3:hover {
  border-top-width: 0px !important;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  color: black;
}
