@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.top {
  height: 100vh;
  margin: 0;
  margin-left: 20px;
  margin-top: 30vh;
}

.startTyper {
  display: inline-block;
  font-family: "coding_light";
  color: white;
}

#typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbarHome,
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  font-family: "coding_light";
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 20px;
}

a:hover {
  color: grey;
}

.socialsHome {
  position: absolute;
  top: 0px;
  right: 0px;
}

.gitHubHomeIcon {
  margin-top: 20px;
  margin-right: 20px;
  height: 34px;
  cursor: pointer;
}

.linkedInHomeIcon {
  margin-top: 20px;
  margin-right: 20px;
  height: 34px;
  cursor: pointer;
}

.resumeHomeIcon {
  margin-top: 20px;
  margin-right: 40px;
  height: 34px;
  cursor: pointer;
}

.glitch {
  color: white;
  font-size: 8vw;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  font-family: "coding_bold";
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

.scrollDown {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 40px;
  margin-bottom: 20px;
  opacity: 1;
}

.scrollText {
  font-family: "coding_light";
  font-size: 15px;
  grid-row: 1;
  width: 200px;
  text-align: center;
}

.arrow {
  position: relative;
  top: -30px;
  grid-row: 2;
  margin-top: 1vh;
}

.line1 {
  height: 30px;
  width: 3px;
  background-color: white;
  transform: rotateZ(45deg);
  position: relative;
  top: 30px;
  left: 10.5px;
  border: 1.5;
  transition: all 0.5s ease-in-out;
}

.line2 {
  height: 30px;
  width: 3px;
  background-color: white;
  transform: rotateZ(-45deg);
  position: relative;
  right: 10.5px;
  border: 1.5;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .navbarHome {
    display: none;
  }
  .burgermenu {
    position: fixed;
    top: 28px;
    left: 28px;
  }
  .bar1,
  .bar2,
  .bar3 {
    background-color: white;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
  }
  .scrollDown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .navbarHome {
    display: none;
  }
}
